<div id="hero" style="background-image: url('/assets/img/samples/sample_10.jpg'); ">
  <div class="bio">
    <div *ngIf="userData" class="hero-description avatar-mid">
      <ion-avatar class="avatar">
        <img src="/assets/img/black-gold.jpg">
      </ion-avatar>
      <h1 class="dark-text"> {{userData.attributes.name}}  </h1>
    </div>
    <div *ngIf="!userData" class="hero-description avatar-mid">
      <ion-avatar class="avatar">
        <img src="/assets/img/black-gold.jpg">
      </ion-avatar>
      <h1 class="dark-text"> Username </h1>
    </div>
  </div>
</div>
