<ion-app>
  <ion-menu contentId="content" side="start">
    <ion-content>
      <div id="menu-header">
        <div id="header-over">
          <img alt="Usename" id="avatar" src="/assets/img/black-gold.jpg">
          <ion-label>
            <h2>Femi Dialo</h2>
            <p>@femidee</p>
          </ion-label>
        </div>
      </div>
      <ion-list id="menu-list" *ngFor="let p of appPages">
        <ion-item detail="false" lines="none" [routerDirection]="'root'" [routerLink]="[p.url]">
          <h1 class="ion-no-margin">
            {{p.title}}
          </h1>
        </ion-item>
      </ion-list>
      <ion-button style="--box-shadow:none;" mode="ios" class="extra-padding ion-padding ion-margin-top" color="primary" size="large" expand="block">New Collection</ion-button>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-app>