#menu-header {
  background-image: url('/assets/img/home/feature-banner-sample.png');
  border-bottom-left-radius: 80px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 20px;

  p {
    color: white !important;
  }
  
    #avatar {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  
    #header-over {
      background-color: rgba(36, 19, 50, 0.3); //Primary dark color
      border-bottom-left-radius: 80px;
      padding: 40px;
      h2 {
        color: white;
        font-size: 24px;
        font-weight: bold;
        padding-top: 15px;
      }
    }
  }