<!-- We use ngStyle to hard set the width and height via JS for better quality aspect ratios-->
<ion-card *ngIf="cardDetails && imgCardSize" [ngStyle]="cardStyle" [routerLink]="cardDetails.url">
    <ion-col>
        <!--        We need a fixed height for the centerpiece to stay consistent-->
        <div [ngStyle]="imgContainerStyle" class="img-container">
            <img [ngStyle]="imgStyle" [src]="cardDetails.imgUrl" class="img-item"/>
        </div>
    </ion-col>
    <ion-card-header>
        <ion-card-title class="nft-card-title">{{cardDetails.title | titlecase}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="nft-card-info">
        <!--            Price and Favorite-->
        <div class="card-info-item">
            <div>
                <ion-text class="price-value"><b>{{cardDetails.ethPrice}} </b> <span class="price-coin-type"> ETH</span>
                </ion-text>
            </div>
            <div class="fav-container">
                <ion-icon *ngIf="cardDetails.isCurrentFav" class="heart-icon" name="heart"></ion-icon>
                <ion-icon *ngIf="!cardDetails.isCurrentFav" class="heart-icon" name="heart-outline"></ion-icon>
                <span class="favorited-count">{{cardDetails.faves}}</span>
            </div>
        </div>
        <!--            USD price -->
        <!--        <div class="card-info-item">-->
        <!--            <ion-text class="price-value"><b>{{cardDetails.usdPrice}} </b> <span class="price-currency-type"> $(USD)</span></ion-text>-->
        <!--        </div>-->
    </ion-card-content>
</ion-card>
