@import "src/theme/screen";

$img-size-map: (
        'xs': 34rem,
        'sm': 28rem,
        'md': 27rem,
        'lg': 24rem,
        'xl': 20rem
) !default;

$img-padding-map: (
        'xs': 0.95rem,
        'sm': 0.95rem,
        'md': 1rem,
        'lg': 1rem,
        'xl': 1rem
) !default;

.nft-card-title {
  font-family: 'Poppins-Medium';
  font-size: 0.95rem;
  min-height: 2.6rem;
}

ion-card {
  border-radius: 1.9rem;

}

.card-container {
  display: flex;
  justify-content: center;
}

.nft-card {
  height: 35rem;
}

.nft-card-container {
}

.nft-card-info {
  display: flex;
  flex-direction: column;
}

.card-info-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--ion-color-dark);
}

.favorited-count {
  font-size: 1.1rem;
  margin-left: 0.3rem;
}

.favorited-count, .heart-icon {
  min-width: 1.5rem;
  height: 1.5rem;
}

.fav-container {
  display: flex;
  align-content: center;
  align-items: center;
}

.price-value {
  font-family: 'Poppins-Semi-Bold';
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.price-coin-type {
  font-family: Poppins;
  text-align: center;
}

.nft-card-container {
  margin: 0.2rem 0.1rem;
}

// Generate different img sizes based on the device screen size
// for each screen size (keySize) ,load the appropriate padding and img sizing
@each $keySize, $valueSize in $screen-breakpoints {
  $img-size: map-get($img-size-map, $keySize);
  $img-padding: map-get($img-padding-map, $keySize);
  @media (min-width: $valueSize) {
    .img-container {
      background: var(--ion-color-wsmoke);
      display: flex;
      align-items: center;
    }
    .img-item {
      max-width: 100%;
      max-height: 100%;
    }
  }
}