@import "src/theme/screen.scss";

.price-container, .price-digit, .price-details,
.collection-count-container, .nft-item-number,
.nft-item-details-container, .price-details-container {
  display: flex;
}

.nft-item-details-container {
  padding: 3rem 0.1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-width: 25rem;
}

.item-detail-row, .details-info-container {
  display: flex;
  justify-content: flex-start;
  min-width: 100%;
  padding: 0.2rem 0;
}

.details-info-container {
  min-height: 20rem;
}

.owner-profile-container {
  flex-direction: column;
}

.nft-title-container, .owner-profile-container {
  margin: 0 0.8rem 0 0.2rem;
  font-family: Poppins-Bold;
  font-size: 1rem;
}

.owner-profile-container {
  margin-bottom: 0.3rem;
}

.nft-faves-badge {
  --color: var(--ion-color-dark);
  font-size: 0.9rem;
  font-family: 'Poppins';
  background-color: var(--ion-color-gray2-contrast);
  border: solid 0.1rem var(--ion-color-gray2-tint);
  display: flex;
  flex-direction: row;
  border-radius: 3rem;
}

.nft-faves-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft-title-container {

}

.nft-title {
  font-family: "Poppins-Medium" !important;
  font-size: 1.7rem;

}

.title-icon, .title-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 1rem;
  margin: 0.05rem 0.1rem;
}

.owner-profile-container {

}

.owner-avatar {
  width: 3.125rem;
  height: 3.125rem;
}

.creator-label {
  font-size: 0.85rem;
  font-family: Poppins-Medium;
}

.creator-avatar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.creator-title {
  padding-left: 0.7rem;
  font-family: 'Poppins-SemiBold';
}

.price-details {
  font-size: 0.8rem;
  justify-content: flex-start;
  padding: 0.2rem 0;
  flex-direction: row;
  width: 100%;
  margin: 0 0 1.5rem 0;
}

.price-digit, .nft-item-number, .collection-item-total, .collection-count-container,
.price-unit {
  font-size: 0.95rem;
}

.price-container, .collection-count-container {
  align-items: center;
}

.price-digit, .nft-item-number, .collection-item-total {
  font-family: 'Poppins-Medium';
  padding: 0 0.2rem;
}

.price-unit, .nft-item-number, .collection-item-total, .collection-count-container {
  font-family: 'Poppins-Light';
}

.collection-count-container {
  margin-left: 0.2rem;
}

.separator-dot {
  text-align: center;
  align-items: center;
  display: flex;
  padding: 0.1rem;
  width: 1rem;
  justify-content: center;
}

.dot {
  background: var(--ion-color-dark);
  background-color: darken(gray, 15);
  border-radius: 50%;
  width: 0.2rem;
  height: 0.2rem;
}

.item-actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.item-actions > app-button {
  padding-right: 0.9rem;
}

$tab-details-size-map: (
        'xs': 27rem,
        'sm': 26rem,
        'md': 26rem,
        'lg': 30rem,
        'xl': 35rem
) !default;

// Generate different sizes based on the device screen size
// for each screen size (keySize) ,load the appropriate padding and img sizing
@each $keySize, $valueSize in $screen-breakpoints {
  $tab-dets-size: map-get($tab-details-size-map, $keySize);
  @media (min-width: $valueSize) {
    .nft-item-details-container {
      min-width: $tab-dets-size;
    }
  }
}