
.avatar-container {
    margin-top: 7rem;
    position: absolute;
    z-index: 99999999;
}

.dark-text {
    --color: var(--ion-color-dark);
    color: var(--ion-color-dark);
}
#hero {
    height: 18.675rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .bio {
        padding-top: 7.375rem;
        text-align: center;
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 7rem;

        .avatar-mid {
            position: absolute;
            z-index: 99999999;
            display: flex;
            flex-direction: column;
            padding: 1.7rem 7.5rem;
        }

        .black-card::part(placeholder) {
                color: blue;
                opacity: 1;
        }
        ion-avatar {
            margin: auto;
            width: 18.5rem;
            height: 18.5rem;
            margin-bottom: 3.8rem;
        }

        #subtitle {
            font-size: 14px;
            font-weight: 500;
            line-height: 28px;
            margin-top: 0px;
        }

        h1 {
            margin: 0px;
            padding: 0px;
        }
    }
}

#mosaic {
    margin-top: 1rem;
    background-color: white;
    width: 100%;

    #left-img {
        height: 316px;
        border-top-left-radius: 2.5rem;
        border-bottom-left-radius: 2.5rem;
        background-size: cover;
        background-position: center;
        margin-right: 8px;
    }

    #top-right-img {
        height: 150px;
        border-top-right-radius: 2.5rem;
        margin-bottom: 8px;
        background-size: cover;
        background-position: center;
        margin-left: 8px;
    }

    #bottom-right-img {
        height: 150px;
        border-bottom-right-radius: 40px;
        margin-top: 8px;
        background-size: cover;
        background-position: center;
        margin-left: 8px;
    }
}

.filter-container {
    margin-top: 16rem;
    padding: 2% 15%; //maybe better to use %
    display: flex;
    justify-content: center;
}

.filter-input-container {
    display: flex;
    width: 100%;
    max-height: 80%;
    justify-content: center;
    align-content: center;
    border: solid var(--ion-color-light);
    border-width: thin;
    border-radius: 0.625rem;
    --placeholder-color: solid var(--ion-color-light);
    color: solid var(--ion-color-light);
}

.filter-column {
    display: flex;
    align-content: center;
}

.filter-searchbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.filter-column {
    justify-content: flex-end;
    margin: 0.8rem 0 0 0;
    padding-right: 1rem;
}

.fetch-more-button-container {
    display: flex;
    justify-content: center;
}

// Profile page media screen breakpoints
// Large screens - Desktops and large screens
@media screen and(min-width: 62.5rem) {
    .filter-container, #mosaic, .footer {
        padding: 0 13rem;
    }
}


