<app-main-nav>
</app-main-nav>
<ion-content>
    <!--  Hero component-->
    <app-profile-hero *ngIf="profileInfo" [userData]="profileInfo"></app-profile-hero>
    <!--  Search bar and filter -->
    <ion-row class="filter-container">
        <ion-col size-md="8" size-xs="12">
            <app-search-bar class="filter-searchbar-container"></app-search-bar>
        </ion-col>
        <ion-col class="filter-column" size-md="4" size-xs="12">
            <app-dropdown-input class="filter-input-container"></app-dropdown-input>
        </ion-col>
    </ion-row>
    <!--  Mosaic component-->
    <div class="" id="mosaic">
        <ion-grid class="ion-no-padding">
            <!--  NFT Cards Container-->
            <ion-row class="ion-padding-horizontal">
                <ion-text class="ion-padding-horizontal">
                    <h1>
                        Items
                    </h1>
                </ion-text>
            </ion-row>
            <ion-row>
                <ion-col *ngFor="let card of cards" class="ion-justify-content-center" size-lg="6" size-md="4"
                         size-xl="4" size-xs="12">
                    <app-nft-card [cardDetails]="card" class="flex ion-justify-content-center"></app-nft-card>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-col class="fetch-more-button-container" size-md="4">
                    <app-button [btnOptions]="loadNFTsBtnOptions"></app-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <app-footer></app-footer>
</ion-content>