<app-main-nav>
</app-main-nav>
<ion-content>
    <!--  Slider banner-->
    <ion-row class="row-container">
        <app-feature-banner class="width-100"></app-feature-banner>
    </ion-row>
    <!--  Top Collections-->
    <ion-row class="collections-container-row collection-row-container ion-padding-horizontal">
        <ion-text class="ion-padding-horizontal">
            <h1>
                Top Teachers
            </h1>
        </ion-text>
    </ion-row>
    <ion-row class="collection-row-container ion-justify-content-between">
        <ion-col *ngFor="let collection of topCollections" size-lg="2" size-md="6" size-sm="6" size-xs="6">
            <!--            <ion-card class="nft-card-info collection-card-info">-->
            <!--                <div class="collection-rank-container">-->
            <!--                    <ion-badge class="rank-badge" color="primary">{{collection.rank}}</ion-badge>-->
            <!--                </div>-->
            <!--                <div class="collection-avatar-container">-->
            <!--                    <ion-avatar class="collection-avatar">-->
            <!--                        <img [src]="collection.imgUrl">-->
            <!--                    </ion-avatar>-->
            <!--                    <h4 class="dark-text collection-title">{{collection.title | titlecase}}</h4>-->
            <!--                </div>-->
            <!--                <div class="collection-floor-container">-->
            <!--                    <ion-text class="price-value"><b>{{collection.ethFloorPrice}} </b> <span class="price-coin-type"> ETH</span>-->
            <!--                    </ion-text>-->
            <!--                </div>-->
            <!--            </ion-card>-->
            <app-collection-card [collection]="collection"></app-collection-card>
        </ion-col>
    </ion-row>
    <!--  Mosaic component-->
    <div class="" id="mosaic">
        <ion-grid class="ion-no-padding">
            <!--  NFT Cards Container-->
            <ion-row class="ion-padding-horizontal">
                <ion-text class="ion-padding-horizontal">
                    <h1>
                        Hot Courses
                    </h1>
                </ion-text>
            </ion-row>
            <ion-row>
                <!--                Adjust size-x for different card layouts -->
                <ion-col *ngFor="let card of cards" class="card-container" size-lg="6" size-md="4" size-xl="4"
                         size-xs="12">
                    <app-nft-card [cardDetails]="card"></app-nft-card>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-col class="fetch-more-button-container" size-md="4">
                    <app-button [btnOptions]="loadNFTsBtnOptions"></app-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <app-footer></app-footer>
</ion-content>
