ion-content {
  --background: var(--ion-color-light);
}

.hero {
  height: 340px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  position: absolute;
  border-top-right-radius: 80px;
  margin-top: -80px;
  background-color: var(--ion-color-light);
  width: 100%;
  padding-top: 16px;

  p {
    margin-top: 5px;
  }

  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 28px;
    font-weight: bold;
  }

  .follow-banner {
    background-color: var(--ion-color-primary);
    max-width: 120px;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    font-size: 12px;
    text-align: center;
    color: white;
    font-weight: 600;
    float: right;
  }
}

.action-panel {
  background-color: var(--ion-color-medium);
  border-radius: 40px;
  padding: 24px;
  margin: 24px;
  margin-top: 45px;

  ion-col {
    text-align: center;
  }

  p {
    font-size: 12px;
    margin-bottom: 0px !important;
  }
}

.product {
  --background: var(--ion-color-medium);
  box-shadow: none;
  border-radius: 15px;
  padding: 0px;
  margin: 10px;
  ion-card-content {
    padding: 10px;
  }
  h2 {
    font-size: 14px;
  }

  ion-button {
    --padding-end: 16px;
    --padding-start: 16px;
    font-weight: 500 !important;
  }
}
