@import "src/app/pages/home/home.page";

$top-collection-padding-map: (
        'xs': 0.5rem 4.4rem,
        'sm': 0.5rem 4.6rem,
        'md': 0.5rem 4.5rem,
        'lg': 0.5rem 3rem,
        'xl': 0.5rem 0.8rem
) !default;

.collection-rank-container {
  height: 3rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection-card-info {
  display: flex;
  box-shadow: none;
  border: solid #E3E1E3 0.1rem;
  justify-content: center;
  align-items: center;
  min-height: 18rem;
  //padding: 0.5rem 0.8rem;
}


.rank-badge {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  align-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}

.collection-avatar {
  width: 5rem;
  height: 5rem;
}

.collection-avatar-container, .collection-floor-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.collection-title {
  font-family: "Poppins-SemiBold" !important;
  font-size: 0.85rem;
  text-align: center;
}

@each $keySize, $valueSize in $screen-breakpoints {

  $paddingSize: map-get($top-collection-padding-map, $keySize);
  @media (min-width: $valueSize) {
    .collection-card-info {
      padding: $paddingSize;
    }
  }
}
