<ion-row class="footer" hidden-max-lg>
    <ion-col class="footer-item-col" size-md="5">
        <!--        Test it out-->
        <div class="footer-company-info">
            <ion-img class="footer-image" src="assets/icon/favi-black-font.png">
            </ion-img>
            <ion-label class="footer-company-text">
                <h3>Get the latest updates </h3>
            </ion-label>
            <div class="flex subscription-footer">
                <app-newsletter-subscribe-input></app-newsletter-subscribe-input>
            </div>
        </div>
    </ion-col>
    <ion-col size-md="3">
        <ion-row class="footer-column">
            <div class="footer-text">
                <h3 class="main-font-bold">Rosa </h3>
            </div>
            <ion-col class="ion-no-padding list-links-container">
                <ion-text class="footer-text">Explore</ion-text>
                <ion-text class="footer-text">How it works</ion-text>
                <ion-text class="footer-text">Contact Us</ion-text>
            </ion-col>
        </ion-row>
    </ion-col>
    <ion-col size-md="3">
        <ion-row class="footer-column">
            <div class="footer-text">
                <h3 class="main-font-bold">Support</h3>
            </div>
            <ion-col class="ion-no-padding list-links-container">
                <ion-text class="footer-text">
                    Help center
                </ion-text>
                <ion-text class="footer-text">
                    Terms of service
                </ion-text>
                <ion-text class="footer-text">
                    Legal
                </ion-text>
                <ion-text class="footer-text">
                    Privacy policy
                </ion-text>

                <div class="social-links-container">
                    <ion-icon class="social-link-icon" name="logo-instagram"></ion-icon>
                    <ion-icon class="social-link-icon" name="logo-twitter"></ion-icon>
                    <ion-icon class="social-link-icon" name="logo-discord"></ion-icon>
                    <ion-icon class="social-link-icon" name="send-outline"></ion-icon>
                </div>
            </ion-col>
        </ion-row>
    </ion-col>
    <ion-col class="ion-no-padding footer-socials" size-md="12">
        <ion-col class="ion-no-padding" size-md="5">
            <div>
                <ion-text class="copyright-text">Rosa, Inc. All Rights Reserved</ion-text>
            </div>
        </ion-col>
        <ion-col size-md="3"></ion-col>
        <ion-col size-md="3">
        </ion-col>

    </ion-col>
</ion-row>
<div class="footer flex-dir-col" hidden-min-lg>
    <ion-row class="flex">
        <ion-col class="footer-item-col" size-md="12" size-sm="12" size-xs="12">
            <!--        Test it out-->
            <div class="footer-company-info">
                <ion-img class="footer-image" src="assets/icon/favi-black-font.png">
                </ion-img>
                <ion-label class="footer-company-text">
                    <h3>Get the latest updates </h3>
                </ion-label>
                <div class="flex subscription-footer">
                    <app-newsletter-subscribe-input></app-newsletter-subscribe-input>
                </div>
            </div>
        </ion-col>
    </ion-row>
    <ion-row class="flex footer-links-row">
        <ion-col class="footer-column" size-md="6" size-sm="6" size-xs="6">
            <div class="footer-text">
                <h3 class="main-font-bold">Rosa </h3>
            </div>
            <div class="ion-no-padding list-links-container">
                <ion-text class="footer-text">Explore</ion-text>
                <ion-text class="footer-text">How it works</ion-text>
                <ion-text class="footer-text">Contact Us</ion-text>
            </div>
        </ion-col>
        <ion-col class="footer-column" size-md="6" size-sm="6" size-xs="6">
            <div class="footer-text">
                <h3 class="main-font-bold">Support</h3>
            </div>
            <ion-col class="ion-no-padding list-links-container">
                <ion-text class="footer-text">
                    Help center
                </ion-text>
                <ion-text class="footer-text">
                    Terms of service
                </ion-text>
                <ion-text class="footer-text">
                    Legal
                </ion-text>
                <ion-text class="footer-text">
                    Privacy policy
                </ion-text>
            </ion-col>
        </ion-col>
    </ion-row>
    <ion-row class="flex">
        <ion-col class="ion-no-padding footer-socials" size-md="12" size-sm="12" size-xs="12">
            <ion-col class="ion-no-padding" size-md="5">
                <div>
                    <ion-text class="copyright-text">Rosa, Inc. All Rights Reserved</ion-text>
                </div>
            </ion-col>
            <ion-col size-md="3"></ion-col>
            <ion-col size-md="3" size-xs="6">
                <div class="social-links-container">
                    <ion-icon class="social-link-icon" name="logo-instagram"></ion-icon>
                    <ion-icon class="social-link-icon" name="logo-twitter"></ion-icon>
                    <ion-icon class="social-link-icon" name="logo-discord"></ion-icon>
                    <ion-icon class="social-link-icon" name="send-outline"></ion-icon>
                </div>
            </ion-col>

        </ion-col>
    </ion-row>
</div>