$footerContainerPadding: 2rem 1rem 1rem 2.5rem;

.footer-item-col {
  display: flex;
  justify-content: start;
}

.footer-links-container {

}

.footer-links-row {
  padding: $footerContainerPadding;
}

.main-font-bold {
  font-family: Poppins;
  font-style: "extra-bold";
  font-size: 1rem;
}

h3.main-font-bold {
  font-weight: bold;
  font-family: Poppins;
  margin: 0;
  padding: 0;
  margin: 1.9rem 0 0.35rem 0;
}

.list-links-container {
  display: flex;
  flex-direction: column;
}

.footer-socials {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
}

.copyright-text {
  font-size: 0.8rem;
  font-weight: bold;
}

.social-links-container {
  margin-top: 0.2rem;
  display: flex;
  justify-content: start;
  min-width: 23rem;
}

.social-link-icon {
  width: 1.4rem;
  height: 1.4rem;
  padding: 0.2rem 0.2rem;
}

.footer-image {
  width: 7rem;
}

.footer-company-info {
  align-items: start;
  padding: $footerContainerPadding;
  flex-direction: column;
}

.footer-company-text, .footer-text {
  --color: #2D2E36;
  color: #2D2E36;
  font-family: Poppins;
  font-style: semi-bold;
  font-size: 0.875rem;
  margin: 0.15rem;

}

.footer-text {
  font-family: Poppins;
  font-style: semi-bold;
  font-size: 0.875rem;
  padding: 0 0 0.45rem 0;

}

.footer-column {
  flex-direction: column;
}