
ion-select.select-item {
  font-family: Poppins;
  font-weight: normal;
}

.flex {
  display: flex;
}

.flex-dir-col {
  flex-direction: column;
}

.footer {
  min-height: 15.875rem;
  display: flex;
  justify-content: space-between;
  border-top-width: 0.008rem;
  border-top-color: rgb(226 224 224 / 65%);
  border-top-style: solid;
}

.subscription-footer {
  flex-direction: row;
}


// media queries


@media screen and(min-width: 62.5rem) {
  .filter-container, #mosaic, .footer {
    padding: 0 13rem;
  }
}
