// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #EB316C;
  /** secondary **/
  --ion-color-secondary: #0F1F39;
  /** tertiary **/
  --ion-color-tertiary: #9B59B6;
  /** success **/
  --ion-color-success: #2dd36f;
  /** warning **/
  --ion-color-warning: #ffc409;
  /** danger **/
  --ion-color-danger: #eb445a;
  /** dark **/
  --ion-color-dark: #000000;
  /** medium **/
  --ion-color-medium: #f6f6f6;
  /** light **/
  --ion-color-light: #ffffff;
  /** gray **/
  --ion-color-gray: #818181;

  --ion-color-primary: #EB316C;
  --ion-color-primary-rgb: 235, 49, 108;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #cf2b5f;
  --ion-color-primary-tint: #ed467b;

  --ion-color-secondary: #0F1F39;
  --ion-color-secondary-rgb: 15, 31, 57;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0d1b32;
  --ion-color-secondary-tint: #27354d;

  --ion-color-tertiary: #9B59B6;
  --ion-color-tertiary-rgb: 155, 89, 182;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #884ea0;
  --ion-color-tertiary-tint: #a56abd;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-gray2: #787878;
  --ion-color-gray2-rgb: 120, 120, 120;
  --ion-color-gray2-contrast: #ffffff;
  --ion-color-gray2-contrast-rgb: 255, 255, 255;
  --ion-color-gray2-shade: #6a6a6a;
  --ion-color-gray2-tint: #868686;

  --ion-color-gray3: #E3E1E3;
  --ion-color-gray3-rgb: 227, 225, 227;
  --ion-color-gray3-contrast: #000000;
  --ion-color-gray3-contrast-rgb: 0, 0, 0;
  --ion-color-gray3-shade: #c8c6c8;
  --ion-color-gray3-tint: #e6e4e6;

  --ion-color-dark2: #24252D;
  --ion-color-dark2-rgb: 36, 37, 45;
  --ion-color-dark2-contrast: #ffffff;
  --ion-color-dark2-contrast-rgb: 255, 255, 255;
  --ion-color-dark2-shade: #202128;
  --ion-color-dark2-tint: #3a3b42;

  --ion-color-wsmoke: whitesmoke;
  --ion-color-wsmoke-rgb: 0, 0, 0;
  --ion-color-wsmoke-contrast: #ffffff;
  --ion-color-wsmoke-contrast-rgb: 255, 255, 255;
  --ion-color-wsmoke-shade: #000000;
  --ion-color-wsmoke-tint: #1a1a1a;
}
